

.cell {
  background-color: white;
  border: 1px solid #eeeeee;
  padding: 8px;
  min-height: 80px;
  background-clip: content-box;
}
.cell:hover {
  box-shadow: 1px 1px 1px #dddddd;
}
.cell > .title {
  text-align: center;
}
